#home_master {
	/* background-color: purple; */
	display: flex;
	width: 50%;
	border-right: 2px solid var(--extra-extra-light-gray);
	overflow: scroll;
	max-height: 100vh;
}

#feed_master {
	/* background-color: green; */
	flex-grow: 1;
	display: flex;
}

.feed_main {
	/* background-color: red; */
	flex-grow: 1;
	/* border-right: 2px solid var(--extra-extra-light-gray); */
}

.page_title {
	/* background-color: blue; */
	padding: 10px;
	font-size: 30px;
	font-weight: 900;
	border-bottom: 2px solid var(--extra-extra-light-gray);
}
@media only screen and (max-width: 1024px) {
	#home_master {
		/* background-color: purple; */
		flex-grow: 1;
		border-right: none;
	}
}
@media only screen and (max-width: 425px) {
	.page_title {
		padding-left: 40px;
	}
}
