#home_master {
	/* background-color: purple; */
	display: flex;
	flex-grow: 1;
}

#feed_master {
	/* background-color: green; */
	flex-grow: 1;
	display: flex;
}

.feed_main {
	/* background-color: red; */
	flex-grow: 1;
	border-right: 2px solid var(--extra-extra-light-gray);
}

.page_title {
	/* background-color: blue; */
	padding: 10px;
	font-size: 30px;
	font-weight: 900;
	border-bottom: 2px solid var(--extra-extra-light-gray);
}
