.side_menu-master {
	/* background-color: yellow; */
	width: 25%;
	padding: 5px;
}
.feed_master-top {
	/* background-color: red; */
	padding: 10px;
	font-size: 30px;
	font-weight: 900;
	border-bottom: 1px solid var(--extra-extra-light-gray);
}
.sideBar_main {
	/* background-color: green; */
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.trending_master {
	background-color: var(--extra-extra-light-gray);
	border-radius: 3px;
	padding: 10px;
}
.trending_title {
	font-weight: 800;
	margin-bottom: 10px;
}
.trending_list_main {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.trending_topic {
	padding: 10px;
}
.trending_topic:hover {
	cursor: pointer;
	background-color: var(--extra-light-gray);
}

.trending_topic_title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 5px;
}
@media only screen and (max-width: 1024px) {
	.side_menu-master {
		/* background-color: purple; */
		display: none;
	}
}
