.navegation_master {
	/* background-color: rgb(226, 195, 43); */
	width: 25%;
	padding: 10px;
	display: flex;
	justify-content: center;
	border-right: 2px solid var(--extra-extra-light-gray);
}

.link_container {
	/* background-color: red; */
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 15px;
	border-radius: 30px;
}
.link_container:hover {
	background-color: var(--extra-extra-light-gray);
	cursor: pointer;
}
