nav {
	/* background-color: rgb(56, 82, 176); */
	width: 25%;
	padding: 10px;
	display: flex;
	justify-content: center;
	border-right: 2px solid var(--extra-extra-light-gray);
}

.navBar_master {
	/* background-color: green; */
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	justify-content: center;
}

.nav_container {
	/* background-color: aqua; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.nav_container_top {
	/* background-color: blueviolet; */
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.nav_container_bottom {
	/* background-color: green; */
	height: fit-content;
}
.nav_top_logo {
	padding: 10px 10px;
	width: fit-content;
	height: fit-content;
	border-radius: 50%;
}
.nav_top_logo:hover {
	background: var(--extra-light-gray);
}
.nav_top_logo img {
	height: 30px;
}

.link_container {
	/* background-color: yellow; */
	display: flex;
	gap: 20px;
	font-size: 20px;
	align-items: center;
	padding: 10px 20px;
	border-radius: 30px;
	width: fit-content;
	margin-bottom: 5px;
}

.link_container:hover {
	cursor: pointer;
	background-color: var(--extra-light-gray);
}

.tweet_btn {
	/* background-color: green; */
	display: flex;
	justify-content: center;
}

.tweet_btn button {
	background-color: red;
	color: white;
	padding: 10px 20px;
	border-radius: 50px;
	font-size: 1rem;
	font-weight: 900;
	border: none;
	display: flex;
	gap: 5px;
	align-items: center;
}

.tweet_btn button:hover {
	cursor: pointer;
}
.logout_btn button {
	background-color: red;
	color: white;
	padding: 5px 20px;
	border-radius: 50px;
	font-size: 10px;
	font-weight: 900;
	border: none;
}

.logout_btn button:hover {
	cursor: pointer;
}

main {
	/* background-color: green; */
	width: 75vw;
}

.menu_link {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 768px) {
	nav {
		width: fit-content;
		background-color: yellow;
	}
	.navBar_master {
		flex-direction: row;
	}
	.nav_container {
		background-color: blueviolet;
		width: 100%;
	}
	.link_title {
		display: none;
	}
	.tweet_btn button p {
		display: none;
		padding: 3px 10px;
	}
}

@media screen and (max-width: 480px) {
	.link_title {
		display: none;
	}
}
