#master_container {
	/* background-color: aqua; */
	display: flex;
	min-height: 100vh;
	height: 100%;
	justify-content: center;
}
#max_width_container {
	/* background-color: red; */
	max-width: 1920px;
	width: 100%;
}
.main_master {
	/* background-color: green; */
	flex-grow: 1;
	display: flex;
}
@media only screen and (max-width: 1024px) {
	body {
		background-color: green;
	}
}
@media only screen and (max-width: 768px) {
	body {
		background-color: red;
	}
}
@media only screen and (max-width: 425px) {
	body {
		background-color: blue;
	}
}
@media only screen and (max-width: 375px) {
	body {
		background-color: purple;
	}
}
