@import url("https://fonts.cdnfonts.com/css/chirp-2");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	display: none;
}

:root {
	--main-blue: #1da1f2;
	--main-black: #14171a;
	--dark-gray: #657786;
	--light-gray: #aab8c2;
	--extra-light-gray: #e1e8ed;
	--extra-extra-light-gray: #f5f8fa;
}
body {
	font-family: "Chirp", sans-serif;
	background-color: #ffffff;
	min-height: 100vh;
	height: 100%;

	/* background-color: red; */
}

form textarea {
	font-family: "Chirp";
}

@font-face {
	font-family: "Chirp";
	font-style: normal;
	font-weight: 400;
	src: local("Chirp"), url("https://fonts.cdnfonts.com/s/58951/ChirpRegular.woff") format("woff");
}
